<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="methods">
    <classes>
		<class name="com.dotdashcom.testcases.TC_Login"/>
		<class name="com.dotdashcom.testcases.TC_FailedLogin"/>
		<class name="com.dotdashcom.testcases.TC_ContextMenu"/>
		<class name="com.dotdashcom.testcases.TC_Download"/>
		<class name="com.dotdashcom.testcases.TC_NewWindow"/>
		<class name="com.dotdashcom.testcases.TC_Hovers"/>
		<class name="com.dotdashcom.testcases.TC_DynamicControl"/>
		<class name="com.dotdashcom.testcases.TC_Upload"/>
		<!-- <class name="com.dotdashcom.testcases.TC_DynamicContent"/> -->
		<class name="com.dotdashcom.testcases.TC_Dropdown"/>
		<class name="com.dotdashcom.testcases.TC_DynamicLoading"/>
		<class name="com.dotdashcom.testcases.TC_JavascriptAlerts"/>
		<class name="com.dotdashcom.testcases.TC_Iframe"/>
		<class name="com.dotdashcom.utilities.TestBase"/>
		<class name="com.dotdashcom.testcases.TC_Dragdrop"/>		
		<class name="com.dotdashcom.testcases.TC_Checkboxes"/>
		<class name="com.dotdashcom.testcases.TC_FloatingMenu"/>
		<class name="com.dotdashcom.testcases.TC_Notification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
