<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.DynamicContentTest"/>
      <class name="tests.DynamicLoadingTest"/>
      <class name="tests.DragDropTest"/>
      <class name="tests.DynamicControlsTest"/>
      <class name="tests.IframeTest"/>
      <class name="tests.FileUploadTest"/>
      <class name="tests.NotificationTest"/>
      <class name="tests.CheckBoxTest"/>
      <class name="tests.NewTabTest"/>
      <class name="tests.DropDownTest"/>
      <class name="tests.LoginFailureTest"/>
      <class name="tests.FileDownloadTest"/>
      <class name="tests.JavaScriptAlertTest"/>
      <class name="tests.LoginSuccessTest"/>
      <class name="tests.MouseHoverTest"/>
      <class name="tests.FloatingMenuTest"/>
      <class name="tests.ContextMenuTest"/>
      <!-- <class name="tests.JavaScriptErrorTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
