<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:\Users\madar\IdeaProjects\take-home-webdriver-test\src\test\java\tests\LoginTest.java">
        <classes>
            <class name="tests.LoginTest">
            </class>
        </classes>
    </test>
</suite>