<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
         <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <Appender type="File" name="MyFile" fileName="c:\temp\log\app.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" />
                 </Root>
    </Loggers>
</Configuration>