<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="10" name="Testng.xml">
    <classes>
      <class name="TestCases.TC_001_LoginSuccess"/>
      <class name="TestCases.TC_002_LoginFailure"/>
      <class name="TestCases.TC_003_CheckBoxes"/>
      <class name="TestCases.TC_004_ContextMenu"/>
      <class name="TestCases.TC_005_DragAndDrop"/>
      <class name="TestCases.TC_006_DropDown"/>
      <class name="TestCases.TC_007_DynamicContent"/>
      <class name="TestCases.TC_008_DynamicControls"/>
      <class name="TestCases.TC_009_DynamicLoading"/>
      <class name="TestCases.TC_010_FileDownload"/>
      <class name="TestCases.TC_011_FileUpLoad"/>
      <class name="TestCases.TC_012_FloatingMenu"/>
      <class name="TestCases.TC_013_Iframe"/>
      <class name="TestCases.TC_014_MouseHover"/>
      <class name="TestCases.TC_015_JSAlerts"/>
      <class name="TestCases.TC_016_JavaScriptError"/>
      <class name="TestCases.TC_017_OpenInNewTab"/>
      <class name="TestCases.TC_018_NotificationMsg"/>
    </classes>
  </test> <!-- Testng.xml -->
</suite> <!-- Suite -->
