<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" parallel = "tests" >
  <test name="chrometest" >
  
  <!-- <groups>
  <run>
  <exclude name = "hello"/>
  
  </run>
  
  </groups> -->
  <parameter name = "setup" value="chrome"/>
    <classes>
       <class name="com.Test.dotDashAssignment" />
    </classes>
  </test>
 
   <test name="firefoxtest" >
  
  <!-- <groups>
  <run>
  <exclude name = "hello"/>
  
  </run>
  
  </groups> -->
  <parameter name = "setup" value = "firefox"/>
    <classes>
       <class name="com.Test.dotDashAssignment" />
    </classes>
  </test>
 
</suite>