<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Session Test Automation Suite">
<test name ="Different testng Feature Test">


    <classes>
      <class name="com.test.ExceptionTimeOutTest" />
      <class name="com.test.GoogleTest" />
      <class name="com.test.GoogleTitleTest" />
      <class name="com.test.InvocationCountTest" />
      <class name="com.test.TestNgBasics" />
      <class name="com.test.TestNgFeatures" />
    </classes>

</test>

</suite>
